/*charte graphique : https://color.adobe.com/fr/From-logo-2-color-theme-9670227/edit/?copy=true&base=2&rule=Custom&selected=1&name=Copie%20de%20From%20logo%202&mode=rgb&rgbvalues=0.07973194062827868,0.13993302656317888,0.44313725490196076,0.1734938284474313,0.21561850025184037,0.45098039215686275,0.5300980515265697,0.5403557592366972,0.6549019607843137,0.6630911509938766,0.6724624394161477,0.7607843137254902,1,1,1&swatchOrder=0,1,2,3,4*/
*{
	font-family: Arial;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

body{
	background-color: #142471;

}

h1{
	text-align: center;
	padding: 0.5em;
	margin-bottom: 2em;
	font-size: 3em;
	
	background-color: #2C3773;
}

h2{
	position: absolute;
	top:1em;
	right: 0.5em;
}

h3{
	font-size: 3em;
	text-align: center;
	margin:auto;
	width: 20em;
	padding: 5em;
}

.dontWork{
	background-color: green;
}

.work{
	background-color: red;
}

#connection{
	width: 30em;
	margin:auto;
	background-color: #2C3773;
	padding: 3em;
}

label{
	display: inline-block;
	width: 10em;
}

input{
	color: black;
}

p{
	margin-top:1em; 
}

#btnLogin{
	width: 5em;
	text-align: center;
	background-color: #142471;
	padding: 0.3em;
}
#btnLogin:hover{

	cursor: pointer;
}